@page
@model Feitep.Pages.Equipamentos.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Mostrar</h1>

<div>
    <h4>Equipamento</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Equipamento.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Equipamento.Titulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Equipamento.DataInicial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Equipamento.DataInicial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Equipamento.DataFinal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Equipamento.DataFinal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Equipamento.Professor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Equipamento.Professor.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Equipamento?.Id">Editar</a> |
    <a asp-page="./Index">Voltar</a>
</div>
